body {
    margin: 10px;
    border: solid 1px rgb(213, 13, 13) ;
    color: rgb(27, 97, 195);
    background: #feffff;
}
h1{
    background-color: rgb(132, 239, 243);
}

#bigTitle{
    background-color: rgb(248, 200, 42);
}

.bigTitle{
    background-color: rgb(205, 141, 61);
}


.smalTitle{
    font-size: xx-small;
}
p{
    background: #000;
}